* {
    margin: 0;
    padding: 0;
}

section{
	height:100vh;
	width:100%;
	background:url(rain.jpg); /*задний фон*/
	background-size:cover;
}

.water{/*добавляем дождь*/
	height:100vh;
	background:url(water.png);
	animation:water 0.3s linear infinite; /*добавляем анимацию дождя*/	
}

@keyframes water{/**/
	0%{
		background-position: -10% -10%;
	}
	100%{
		background-position: 20% 100%;
	}
}

main{/*фонарик*/
	position: relative;
	width:100%;
	height:100vh;
	background: url(rain.jpg);
	background-size:cover;
	cursor:url('lantern.png'),pointer; /*курсор*/
}

.lantern{
	position:absolute;
	width:100%;
	height:100%
}
       
